:root {
	--white: #fff;
	--black: #000;
	--l_black: #292E39;
	--primary: #6D31EE;
	--primary_shade: #4F28A5;
	--primary_light: #AA9DFA;
	--light: #E6E8EC;
	--gray: #A1A6B4;
	--s_gray: #D2D5DD;
	--red: #FF0000;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	font-family: sans-serif;
	overflow-x: hidden;
	line-height: 1.1;
}

a {
	color: inherit;
	text-decoration: none;
}

img, svg {
	max-width: 100%;
	vertical-align: baseline;
}

.flex {
	display: flex;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: 0;
	background: none;
	border-color: transparent;
	cursor: pointer;
}

h1, h2, h3, p {
	margin: 0;
	color: var(--white);
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.none {
	display: none;
}

/* header */

.header {
	background-color: var(--black);
	min-height: 132px;
	padding: 42px 0 0 0;
}

.header>.container {
	padding-bottom: 42px;
	align-items: center;
}

.header__logo {
	position: relative;
	width: 224px;
	margin-right: auto;
}

.header__logo-link {
	position: absolute;
	height: 116px;
    width: 224px;
	background: url(../img/bazzar.jpeg) no-repeat;
    background-size: contain;
	bottom: -58px;
}

.header__nav {
	width: 50.7%;
}

/* .header__item{

} */

.header__item:not(:last-child) {
	margin-right: 40px;
}

.header__link {
	color: var(--white);
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0.8px;
}

.header__controls {
	width: 27.2%;
}

.header__search {
	margin-right: 20px;
}

.header__log {
	width: 204px;
	margin-right: 20px;
	padding: 14px 20px;
	background: var(--white);
	border-radius: 30px;
}

.header__log>svg {
	position: relative;
	margin-right: auto;
	top: 3px;
	left: 5px;
}

.header__log>span {
	color: var(--black);
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 0px;
}

.header__back {
	position: absolute;
	width: 100%;
	height: 12px;
	background: url(../img/line.svg) no-repeat;
    background-size: contain;
}

/* Hero */

.hero {
	min-height: 400px;
	padding: 40px 0;
	background: var(--black);
	border-bottom: 1px solid var(--white);
}

.hero_content {
	width: 50%;
	padding-top: 55px;
}

.hero__back {
	width: 50%;
	min-height: 500px;
	background: url(../img/bazzar-hero.jpeg) no-repeat;
    background-size: contain;
}

.hero__title {
	width: 100%;
	margin-bottom: 30px;
	font-weight: 700;
    font-size: 60px;
    line-height: 100%;
}

.hero__info {
	width: 81%;
	font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* footer */

.footer {
	min-height: 200px;
	padding: 42px 0;
	background: var(--black);
}

.footer>.container {
	padding-bottom: 42px;
	align-items: center;
}

.footer__logo {
	position: relative;
	width: 42%;
	margin-right: auto;
}

.footer__social-block {
	width: 30%;
	margin-right: 30px;
}

.footer__logo-link {
	position: absolute;
	height: 116px;
    width: 224px;
	background: url(../img/bazzar.jpeg) no-repeat;
    background-size: contain;
	bottom: -60px;
}

.footer__social-item:not(:last-child) {
	margin-right: 60px;
}

.footer__rights-block {
	width: 25%;
}

.footer__rights {
	font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.content {
	padding: 20px;
}
.header {
	font-size: 36px;
	font-weight: bold;
}
.dropdown {
	margin-top: 20px;
	font-size: 16px;
	padding: 10px;
}
.text {
	margin-top: 20px;
	font-size: 16px;
	max-width: 400px;

	margin-right: auto;
}
.fh {
	text-align: center;
	padding: 10px;
	font-size: 12px;
	background-color: #f1f1f1;
}
.abouth {
	margin-top: 20px;
	font-size: 40px;

	font-weight: bold

}